# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
dist/
build/
*.egg-info/
*.egg
.specify/
.claude
.specs/

# Environment
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
*.tmp

# Testing
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# Node.js / Frontend
node_modules/
frontend/dist/
frontend/build/
*.tsbuildinfo

#AI
.AGENT.md
.CLAUDE.md